.chat-container {
  width: calc(100vw - 420px);
  background-color: #eff2f5;
}

.chat-header {
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.chat-header:hover {
  cursor: pointer;
}

.header-user-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.header-chat-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.chat-body {
  background-image: url("../../images/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(100vh - 59px - 64px - 40px);
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  background-repeat: repeat;
  overflow-y: scroll;
  padding: 20px 0px;
  box-sizing: content-box;
}

.chat-footer {
  height: 64px;
  background-color: #eff2f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#message {
  width: calc(100% - 3 * 70px);
  height: 45px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  padding: 0 15px;
}

#message:focus {
  outline: none;
}

.newpage-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.encryption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 12%;
}

.encryption > p {
  font-size: 15px;
}

.message-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 10px;
  margin-right: 65px;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.itIsNotMe {
  justify-content: flex-start;
}

.message-content {
  background-color: #f1f4f7;
  box-shadow: 1px 1px 1px #646363;
  color: #000;
  min-height: 10px;
  padding: 5px 10px 3px 10px;
  border-radius: 10px;
  font-size: 14.2px;
  font-family: Helvetica, sans-serif;
  max-width: 80%;
  word-wrap: break-word;
  text-align: left;
  line-height: 1.5;
  font-weight: 500;
}

.message-text {
  margin-right: 20px;
}

.message-time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 10px;
  gap: 5px;
}

.message-time>svg{
  width: 13px;
  height: 13px;
}
