.chat-container {
  width: calc(100vw - 420px);
  background-color: #eff2f5;
}

.chat-header {
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.chat-header:hover{
  cursor: pointer;
}

.header-user-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.header-chat-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.chat-body {
  background-image: url("../../images/bg.png");
  height: calc(100vh - 59px - 64px);
  opacity: 0.7;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-repeat: repeat;
  justify-content: flex-end;
  overflow-y: scroll;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.chat-footer {
  height: 64px;
  background-color: #eff2f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#message {
  width: calc(100% - 3 * 70px);
  height: 45px;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  padding: 0 15px;
}

#message:focus {
  outline: none;
}

.newpage-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.encryption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  position: absolute;
  bottom: 30px;
  left: 50%;
}

.encryption > p {
  font-size: 15px;
}

.message-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 10px;
  margin-right: 65px;
  margin-bottom: 10px;
}

.message-content {
  background-color: #d9fdd2;
  box-shadow: 1px 1px #fff;
  color: #111b21;
  min-height: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 14.2px;
  font-family: Helvetica, sans-serif;
  max-width: 80%;
  word-wrap: break-word;
  text-align: left;
  line-height: 1.5;
  font-weight: 500;
}
