.profile-header {
  height: 108px;
  background-color: #216CA6;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px 30px;
}

.profile-header > div {
  display: flex;
  flex-direction: row;
  color: #fff;
  gap: 20px;
}

.profile-box {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 15px 30px;
  box-sizing: border-box;
  gap: 10px;
}

.profile-note {
  padding: 0 30px;
}

.editable-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
